:root {
  font-family: Inter, system-ui, Poppins, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.todo-heading {
 text-align: center;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

.addTodoForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}

.addTodoInput {
  flex: 1;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.addTodoTextarea {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  resize: vertical;
  /* Allow the textarea to be vertically adjustable */
}

.addButton {
  padding: 8px 16px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.addButton:hover {
  background-color: #0056b3;
}

.todos {
  list-style: none;
  padding: 0;
}

.todoItem {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.todoItem div {
  display: flex;
  justify-content: space-between;
}

.todoTitle {
  flex: 1;
  margin-left: 10px;
}

.todoItem input[type="checkbox"] {
  margin-right: 10px;
}

.deleteButton {
  padding: 6px 12px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.deleteButton:hover {
  background-color: #c82333;
}

.todoItem p {
  padding-left: 40px;
  font-size: 12px;
}

.loading {
  text-align: center;
  font-style: italic;
  color: #aaa;
}